<div class="contacts view">
    <header>
        <h3>Contact Card Details</h3>
    </header>
    <div>
        <div class="row">
            <div class="span12">
                <div class="indent">
                    <h4>For {{ customer.companyName }}</h4>
                    {{customer.addressLine1}}
                    <br/>
                    {{customer.city + ' '+ customer.state}}
                    <br/><br/>
                </div>
            </div>
            <br/><br/>

            <div class="span10">
                <div class="navbar">
                    <div class="navbar-inner toolbar">
                        <ul class="nav">
                            <li class="toolbaritem"><a data-ng-click="editContact()"><i
                                    class="icon-plus"></i> Add Contact Card</a></li>
                        </ul>
                        <form class="navbar-form pull-right">
                            <span class="navbarText">Filter:</span>&nbsp;&nbsp;<input type="text"
                                                                                      data-ng-model="searchText"
                                                                                      class="novalidate"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="row cardContainer">
            <div infinite-scroll='contactPages.nextPage()' infinite-scroll-disabled='customerPages.busy'
                 infinite-scroll-distance='1'>
                <div class="span3 card" data-ng-repeat="contact in contactPages.items track by $index">
                    <button class="btn close cardClose" title="click to delete contact"
                            data-ng-click="deleteContact($index, contact)">&times;</button>
                    <div class="cardHeader">

                        <a data-ng-click="editContact(contact)" title="click to edit"
                           class="ellipsis cardHeader btn-link">{{contact.firstName+' '+contact.lastName}}</a>
                    </div>
                    <div class="cardBody">{{contact.addressLine1 + ', ' + contact.city}}</div>
                    <div ng-if="contact.cell" class="cardBody">{{'Cell: ' + contact.cell}}</div>
                </div>
            </div>
        </div>
    </div>
</div>