<!-- our page-specific header. this contains our filter button and our breadcrumb. -->
<div class="dm-app-header">
	<div class="container">
		<div class="row nav-row">
			<div class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-sm-12 control-label" for="filter">
						<h3 class="panel-title hidden-xs pull-left">									
							<ol class="breadcrumb pull-left">			
								<li>Customers</li>
								<li class="active">Company Details</li>
							</ol>
						</h3>	
					</label>					
				</div>
			</div>
		</div>
	</div>	
</div><!-- #dm-app-header -->

<div class="container">
<br />
		
	<div id="company-address" class="col-xs-12 col-sm-8">
		<h3 class="panel-title">{{customer.companyName}}</h3>
		<br />
		<address>
		{{customer.addressLine1}}<br>
		{{customer.addressLine2}}<br>
		{{customer.city}}, {{customer.state}}&nbsp;&nbsp;{{customer.zip}}<br>
		</address>
		<br />
	</div>
	<div id="company-right" class="col-xs-12 col-sm-4">
		<a data-ng-click="navigate('/contactcards',customer)">
		<div class="contacts-circle">
			<div class="circle-inner">
				<span class="number-text">{{customer.contactsCount}}</span>
				<br /> 
				Contacts
			</div>
		</a>
		</div>
		<a data-ng-click="navigate('/opportunitydetails',customer)">		
		<div class="contacts-circle">
			<div class="circle-inner">
				<span class="number-text">{{customer.opportunitiesCount}}</span>
				<br />
				Opportunities			
			</div>
		</div>
		</a>
	</div>
</div>	

<hr />

<div  id="white-section" class="container">
	<div class="col-xs-12">
		<div class="infocard pull-left">
			<span class="glyphicon glyphicon-globe"></span></abbr>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{customer.webPage}}">{{customer.webPage}}</a>
		</div>
		<div class="infocard pull-left">
			<span class="glyphicon glyphicon-envelope"></span></abbr>&nbsp;&nbsp;&nbsp;<a href="mailto:{{customer.email}}">{{customer.email}}</a>
		</div>	
		<div class="infocard pull-left">		
			<span class="glyphicon glyphicon-earphone"></span></abbr>&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:{{customer.phone}}">{{customer.phone}}</a>
		</div>
	</div>
</div>

<hr />

<div  id="white-section" class="container">
	<div class="col-xs-12 contactcardspanel">
		<br />
		<div class="dm-head-7">
			<h3 class="panel-title">Company Contacts</h3>
		</div>
		<div class="dm-head-3 pull-right">
			<button type="button" class="btn btn-default pull-right" data-ng-click="editContact()"><span class="glyphicon glyphicon-plus"></span> Add Contact</button>
		</div>
	</div>

	<div id="contacts-grid" class="col-xs-12" infinite-scroll='contactPages.nextPage()' infinite-scroll-disabled='contactPages.busy' infinite-scroll-distance='1'>
		<table class="table table-striped table-bordered table-width" >
			<tr>
				<th>
                    Name
                    <button class="pull-right btn btn-xs" ng-click="orderByField='lastName'; reverseSort = !reverseSort">
                        <span class="glyphicon glyphicon-sort"></span><span ng-show="orderByField == 'lastName'"></span>
                    </button>
                </th>
				<th>
				Contact
				</th>
				<th>
				Address
                    <button class="pull-right btn btn-xs" ng-click="orderByField='addressLine1'; reverseSort = !reverseSort">
                        <span class="glyphicon glyphicon-sort"></span><span ng-show="orderByField == 'addressLine1'"></span>
                    </button>
				</th>
				<th>
				City
                    <button class="pull-right btn btn-xs" ng-click="orderByField='city'; reverseSort = !reverseSort">
                        <span class="glyphicon glyphicon-sort"></span><span ng-show="orderByField == 'city'"></span>
                    </button>
				</th>
				<th>
				State
                    <button class="pull-right btn btn-xs" ng-click="orderByField='state'; reverseSort = !reverseSort">
                        <span class="glyphicon glyphicon-sort"></span><span ng-show="orderByField == 'state'"></span>
                    </button>
				</th>
                <th>
                    Zip
                    <button class="pull-right btn btn-xs" ng-click="orderByField='zip'; reverseSort = !reverseSort">
                        <span class="glyphicon glyphicon-sort"></span><span ng-show="orderByField == 'zip'"></span>
                    </button>
                </th>
                <th>
                    Actions
                </th>
			</tr>
			<tr data-ng-repeat="contact in contactPages.items  |orderBy:orderByField:reverseSort track by $index">
				<td class="col-xs-3">
                    <a  ng-click="editContact(contact)">
				{{contact.firstName+' '+contact.lastName}}</a>
                    </a>
                </td>
				<td class="col-xs-2 contact-stack">
				<div class="phone-width">
				<a href="tel:{{contact.phone}}"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;&nbsp;{{contact.phone}}</a>
				</div>
				<div class="phone-width">
				<a  ng-if="contact.cell" href="tel:{{contact.cell}}"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;&nbsp;{{contact.cell}}</a>
				</div>
				<div class="phone-width">
				<a href="mailto:{{contact.email}}"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;{{contact.email}}</a>
				</div>
				<td class="col-xs-3">	
				{{contact.addressLine1 + ', ' + contact.addressLine2}}
				</td>
				<td class="col-xs-1">
				{{contact.city}}
				</td>
				<td class="col-xs-1">
				{{contact.state}}
				</td>
				<td class="col-xs-1">
				{{contact.zip}}
				</td>
                <td>
                    <a data-ng-click="editContact(contact)" class="pull-left"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a data-ng-click="deleteContact($index, contact)" class="pull-right"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
			</tr>
		</table>
	</div>
</div><!-- white-section -->
	
	</div>