<div class="modal-header">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">


    <form name="salesPersonForm" ng-submit="submitForm()" novalidate>


        <div class="form-group"
             ng-class="{ 'has-error' : salesPersonForm.firstName.$invalid && !salesPersonForm.firstName.$pristine }">
            <label>First Name</label>
            <input type="text" name="firstName" class="form-control" ng-model="modalOptions.record.firstName" required>

            <p ng-show="salesPersonForm.firstName.$invalid && !salesPersonForm.firstName.$pristine" class="help-block">The
                customer must be named.</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error' : salesPersonForm.lastName.$invalid && !salesPersonForm.lastName.$pristine }">
            <label>Last Name</label>
            <input type="text" name="lastName" class="form-control" ng-model="modalOptions.record.lastName" required>

            <p ng-show="salesPersonForm.lastName.$invalid && !salesPersonForm.lastName.$pristine" class="help-block">The
                person must be named.</p>
        </div>

        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" class="form-control" ng-model="modalOptions.record.title">

        </div>

        <div class="form-group"
             ng-class="{ 'has-error' : salesPersonForm.addressLine1.$invalid && !salesPersonForm.addressLine1.$pristine }">
            <label>Address Line 1</label>
            <input type="text" name="addressLine1" class="form-control" ng-model="modalOptions.record.addressLine1"
                   required>

            <p ng-show="salesPersonForm.addressLine1.$invalid && !salesPersonForm.addressLine1.$pristine" class="help-block">The
                person must have an address.</p>
        </div>

        <div class="form-group">
            <label>Address Line 2</label>
            <input type="text" name="addressLine2" class="form-control" ng-model="modalOptions.record.addressLine2">
        </div>

        <div class="form-group" ng-class="{ 'has-error' : salesPersonForm.city.$invalid && !salesPersonForm.city.$pristine }">
            <label>City</label>
            <input type="text" name="city" class="form-control" ng-model="modalOptions.record.city" required>

            <p ng-show="salesPersonForm.city.$invalid && !salesPersonForm.city.$pristine" class="help-block">The persons City
                is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : salesPersonForm.state.$invalid && !salesPersonForm.state.$pristine }">
            <label>State</label>
            <select required ng-model="modalOptions.record.state" class="form-control" name="state"
                    ng-options="s.stateAbbr as s.name for s in modalOptions.model1"></select>

            <p ng-show="salesPersonForm.state.$invalid && !salesPersonForm.state.$pristine" class="help-block">State is
                required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : salesPersonForm.zip.$invalid && !salesPersonForm.zip.$pristine }">
            <label>Zip Code</label>
            <input type="text" name="zip" class="form-control" ng-model="modalOptions.record.zip" required>

            <p ng-show="salesPersonForm.zip.$invalid && !salesPersonForm.zip.$pristine" class="help-block">Zip is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : salesPersonForm.email.$invalid && !salesPersonForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="modalOptions.record.email">

            <p ng-show="salesPersonForm.email.$invalid && !salesPersonForm.email.$pristine" class="help-block">email is
                wrong.</p>
        </div>


        <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" ng-model="modalOptions.record.phone">
        </div>

        <div class="form-group">
            <label>cell</label>
            <input type="text" name="cell" class="form-control" ng-model="modalOptions.record.cell">
        </div>

        <div class="form-group">
            <label>Web Page</label>
            <input type="text" name="webPage" class="form-control" ng-model="modalOptions.record.webPage">
        </div>

        <div class="form-group">
            <label>Notes</label>
            <textarea name="notes" class="form-control" ng-model="modalOptions.record.notes"/>
        </div>

    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button type="submit" class="btn btn-primary" ng-disabled="salesPersonForm.$invalid" data-ng-click="modalOptions.ok();">
        {{modalOptions.actionButtonText}}
    </button>
</div>