<!-- our page-specific header. this contains our filter button and our breadcrumb. -->
<div class="dm-app-header">
	<div class="container">
		<div class="row nav-row">
			<div class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-sm-10 control-label" for="filter">
						<h3 class="panel-title hidden-xs pull-left">									
							<ol class="breadcrumb pull-left">			
								<li>Administration</li>										
								<li class="active">Salespeople</li>
							</ol>
						</h3>	
					</label>
				</div>
			</div>
		</div>
	</div>	
</div><!-- #dm-app-header -->		

<br/>
<div class="container">
	<div class="col-xs-12">
	<h1 class="page-title">Manage Salespeople</h1>
	<br />

		<div class="panel panel-default">
			<div class="gridStyle" ng-grid="mySalesPeople"></div>
            </div>
        </div>
    </div>
</div>
