body {
    padding: 65px;
}

.view {
    left: 60px;
    position: relative;
    opacity: 0.0;
}

.card {
    background-color: #efefef;
    border: 1px solid black;
    height:100px;
    width: 300px;
    margin-bottom: 20px;
    border-radius:7px;
    background:#fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 1;
    overflow:hidden;


}

.cardHeader {
    background-color: #006dcc;
    font-size: 12px;
    color: white;
    padding: 5px;
}

.cardClose {
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

.cardContainer {
    width: 90%;
}

.cardBody {
    padding-left: 5px;
}
.cardFooter{
    margin-top: 18px;
}

.lastRow {
    background-color: #ccc;
}

.indent {
    margin-left: 20px;
}

footer {
    font-weight: bold;
    color: white;

}
.ellipsis {
    text-overflow: ellipsis;
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
/* Bootstrap overrides */

.navbar .nav li.toolbaritem a:hover, .navbar .nav li a:hover, .navbar .navbar-inner a:hover{
    color: rgba(48, 139, 255, 0.99);
}
.cardHeader a:hover {
    color: rgba(255, 255, 255, 0.99);
}
.nav .dropdown-menu li a:hover{
    color: rgba(255, 255, 255, 0.99);

}


.close {
    font-size: 15pt;
    opacity: 1.0;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.btn.active {
    background-color: #f7f7f7;
}

.novalidate {
    border-left: none !important;
}

a {
    cursor: pointer;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 100%;
    height: 300px
}

.vertical input[type="date"] {
    display: block;
}

.vertical select, label {
    display: block;
}

.vertical input[type="text"] {
    display: block;
}

.vertical textarea {
    display: block;
}



.vertical input[type="email"] {
    display: block;
}

/* dynamic form builder stuff */
.add-field {
    text-align: center;
}

.add-field select {
    margin-bottom: 0px;
}

.form-fields .accordion-group {
    border: 1px solid #AAAAAA;
}

.form-fields .accordion-heading {
    background-color: #E2E2E2;
}

.accordion-edit div, .field div {
    line-height: 35px;
}

.form-properties .row {
    line-height: 35px;
}

.form-field-label {
    display: inline;
}

.required-error {
    color: red;
    font-size: smaller;
}
.companySelect{
    height: 300px;
}
