<div class="customer view">
    <header>
        <h3>Customer</h3>
    </header>
    <div>
        <div class="row">
            <div class="span10">
                <div class="navbar">
                    <div class="navbar-inner toolbar">
                        <ul class="nav">
                            <li class="toolbaritem"><a data-ng-click="navigate('/customeredit/0')"><i
                                    class="icon-plus"></i> Add Customer</a></li>
                        </ul>
                        <form class="navbar-form pull-right">
                            <span class="navbarText">Filter:</span>&nbsp;&nbsp;<input type="text"
                                                                                      data-ng-model="searchText"
                                                                                      class="novalidate"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="row cardContainer">
            <div class="span3 card" data-ng-repeat="customer in filteredCustomers | orderBy: 'customerName' ">
                <button class="btn close cardClose" title="click to delete customer"
                        data-ng-click="deleteCustomer(customer.customerId)">&times;</button>
                <div class="cardHeader">

                    <a href="#/customeredit/{{customer.customerId}}" title="click to edit" class="cardHeader btn-link">{{customer.customerName}}</a>
                </div>
                <div class="cardBody">{{customer.addressLine1 + ', ' + customer.city}}</div>
                <a href="#/customercontactdetails/{{customer.customerId}}" class="cardBody btn-link">View {{
                    customer.contacts.length }} Contacts</a>
                <a href="#/customeropportunitydetails/{{customer.customerId}}" class="cardBody btn-link"> {{
                    customer.opportunities.length }} Opportunity Cards</a>
            </div>
        </div>
    </div>
</div>