<link th:href="@{app/css/card-view.css}" rel="stylesheet"/>
	<div class="top-header scroller hidden-md hidden-sm hidden-xs">
		<div class="container no-pad">
			<div class="dm-head-70pct">
				<h4 class="breadcrumb-title">Customer Edit</h3>				
			</div>
		</div>
	</div>

	
	<br />
	
<div class="customerEdit view">
	<div class="container">
		<div class="panel panel-default">
		
			<div class="panel-heading">
				<h4 class="panel-title">{{customer.companyName}}</h4>
			</div>
			<div class="panel-body">	
					<div class="col-xs-12">
	
            	        <form name="customerForm" ng-submit="submitForm()">
            	        <div class="row">
                    	<div class="col-xs-12 col-sm-6 pull-left">
							<address class="edit-address">
								<div class="input-group">
									<label class="sr-only" for="companyName">Company Name</label>
	                    			<span class="input-group-addon">	
	                    				Name</span>
	                    			</span>									
									<strong>							
										<input type="text" name="companyName" class="form-control" ng-model="master.companyName" required>
									</strong>
								</div>
								<br />
								<div class="input-group">
									<label class="sr-only" for="addressLine1">Address</label>
									<span class="input-group-addon">
										Address</span>
									<input type="text" name="addressLine1" class="form-control" ng-model="master.addressLine1" required>
								</div>
								<br />
								<div class="input-group">
									<label class="sr-only" for="addressLine2">Address line 2</label>
									<span class="input-group-addon">
										Address 2</span>										
									<input type="text" name="addressLine2" class="form-control" ng-model="master.addressLine2">
								</div>
	
								<br />
								<div class="col-xs-6 pull-left input-group">
									<label class="sr-only" for="=city">City</label>
									<span class="input-group-addon">City</span>
									<input type="text" name="city" class="form-control" ng-model="master.city" required>
								</div>
								<div class="col-xs-3 pull-right input-group">
									<label class="sr-only" for="state">State</label>
									<span class="input-group-addon">State</span>
									<select required ng-model="master.state" class="form-control" name="state" ng-options="s.stateAbbr as s.name for s in state_array"></select>
								</div>
								<div class="col-xs-3 pull-right input-group">								
									<label class="sr-only" for="zip">Zip code</label>
									<span class="input-group-addon">Zip</span>
									<input type="text" name="zip" class="form-control" ng-model="master.zip" required>
								</div>
							</address>
                    	</div>
                    	<div class="col-xs-12 col-sm-6 pull-right">
	                    	<address>
	                    		<div class="input-group">
	                    			<span class="input-group-addon">
										<span class="glyphicon glyphicon-earphone"></span>
									</span>
									<input type="text" name="phone" class="form-control" ng-model="master.phone">
								</div>
								<br />
								<div class="input-group">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-phone"></span>
									</span>
				                    <input type="text" name="cell" class="form-control" ng-model="master.cell">
								</div>
								
								<br />
								<br />
								
								<div class="input-group">
	                    			<span class="input-group-addon">
										<span class="glyphicon glyphicon-globe"></span>
									</span>
									
                   					 <input type="text" name="webPage" class="form-control" ng-model="master.webPage">
								</div>	

							</address>
						</div>
                    </div>
                    	<div class="cardFooter">
                    		
			            </div>
        
        
        
        
        
        


                

                <div class="form-group"
                     ng-class="{ 'has-error' : customerForm.email.$invalid && !customerForm.email.$pristine }">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" ng-model="master.email">

                    <p ng-show="customerForm.email.$invalid && !customerForm.email.$pristine" class="help-block">email
                        is wrong.</p>
                </div>


                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control" ng-model="master.phone">
                </div>

                <div class="form-group">
                    <label>Cell Phone</label>
                </div>

                <div class="form-group">
                    <label>Web Page</label>
                </div>

                <div class="form-group">
                    <label>Notes</label>
                    <textarea name="notes" class="form-control" ng-model="master.notes"/>
                </div>

                <div class="form-group">
                    <label>Primary Contact</label>
                    <select ng-model="master.primaryContactId" class="form-control" name="primaryContact"
                            ng-options="c.contactId as c.contactDescription for c in contact_array"></select>

                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="customerForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>