<div class=" modal-header">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="companySelect modal-body">


    <form name="companySelectForm" ng-submit="submitForm()" novalidate>


        <div class="form-group" ng-controller='loadingCompaniesController'>
            <label>Company Name</label>

            <input type="text" name="name" data-ng-model="modalOptions.record.selectedCompany"
                   typeahead-wait-ms="300" typeahead="k for k in getList($viewValue)">

        </div>


    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button type="submit" class="btn btn-primary" ng-disabled="companySelectForm.$invalid"
            data-ng-click="modalOptions.ok();">
        {{modalOptions.actionButtonText}}
    </button>
</div>