<!DOCTYPE html PUBLIC "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring4-4.dtd">
<html data-ng-app="customersApp" data-ng-controller="ApplicationController" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thttp://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring4-4.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Customer Relationship Manager</title>
    <link th:href="@{app/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{app/css/ng-grid.min.css}" rel="stylesheet"/>
    <link th:href="@{app/css/ng-quick-date.css}" rel="stylesheet"/>
    <link th:href="@{app/css/nv.d3.min.css}" rel="stylesheet"/>
    <link th:href="@{app/css/ng-tags-input.min.css}" rel="stylesheet"/>
    <link th:href="@{app/css/customerManagementStyles.css}" rel="stylesheet"/>
    
    <script>
        var dmApplicationEntryPoint = '//' + window.location.hostname + ':' + window.location.port + '/crm';

    </script>

    </head>

<body>

	<!-- here's the drillMap navbar. -->
    <div class="navbar navbar-fixed-top navbar-dm" role="navigation">
		<div class="container">

			<!-- this is the regularly-sized logo. it appears in all configurations except xs. -->
			<div id="full-logo" class="hidden-xs">
				<div class="pull-left">
					<a href="#/" class="navbar-brand"><img th:src="@{app/img/dm-logo-alt.svg}" alt="logo" class="logo-image"></a>
                    <span class="dm-username" th:text="${crmuser.firstName + ' ' + crmuser.lastName}"></span>
				</div>
			</div>

			<!-- this is the logo without the wordmark. it only appears when the screen is at breakpoint xs. -->
			<div id="#small-logo" class="hidden-sm hidden-md hidden-lg hidden-xl">
				<div class="pull-left">
					<a href="#/" class="navbar-brand"><img th:src="@{app/img/dm-circle.svg}" alt="logo" class="logo-image"></a>
                    <span class="navbar-text pull-left" th:text="${crmuser.firstName + ' ' + crmuser.lastName}"></span>
				</div>
			</div>
			
			<div class="pull-right">
				<!-- regular navigation menu, hidden at 768px via .collapse tag -->
				<div class="navbar-collapse pull-right">
					<ul class="nav navbar-nav">
						<li ng-class="{ active: isCurrentPath('/customers') }"><a href="#/customers"><span class="glyphicon glyphicon-phone-alt"></span><span class="hidden-xs">&nbsp;&nbsp;Customers</a></span></li>
						<li ng-class="{ active: isCurrentPath('/opportunities') }"><a href="#/opportunities"><span class="glyphicon glyphicon-record"></span><span class="hidden-xs">&nbsp;&nbsp;Opportunities</span></a></li>
						<li ng-class="{ active: isCurrentPath('/charts') }"><a href="#/charts"><span class="glyphicon glyphicon-list-alt"></span><span class="hidden-xs">&nbsp;&nbsp;Reports</span></a></li>
		                <li class="dropdown" ng-class="{ active: isCurrentPath('/forms/create') }" >
            			        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><span class="hidden-xs">&nbsp;&nbsp;Administration </span><b class="caret"></b></a>
		                    <ul class="dropdown-menu" >
								<li><a href="#/forms/create">Opportunity Form</a></li>
								<li class="divider"></li>
								<li><a href="#/admin/sales">Salespeople</a></li>
								<li><a href="#/admin/probability">Probability</a></li>
                                <li><a href="#/admin/states">States</a></li>
                                <li><a href="#/admin/status">Status</a></li>
		                    </ul>
		                </li>
		            </ul>
		        </div>
		    </div>
	    </div><!-- container -->
	</div>
	
	<!-- pushes all content down of padding so it isn't covered up by the navbar. -->	
	<div class="col-xs-12 content-push"></div>

    <!-- this is my loading div, it is taken out of the dom once everything is loaded! -->
    <div ng-if='!loadingDone' class="container">
        <h2><small>Loading:</small></h2>
        <div class="progress progress-striped active" ng-controller='LoadingController'>
            <div class="bar" style="width:{{percentDone}}%">
            </div>
        </div>
    </div>

	<!-- inserting the completed page -->
    <div ng-if='loadingDone'>
        <ng-view></ng-view>
    </div>


    <div class="footer navbar-dm">
    	<div class="container">
			<div class="col-xs-12">       
				<br /> 
				<p class="pull-right">© 2014 drillMap. All rights reserved (build <span th:text="${T(com.drillmap.crm.util.ProductVersion).getBuildNumber()}"></span>)</p>
			</div>
		</div>
    </div>

<!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
<script th:src="@{app/lib/jquery.min.js}"></script>
<script th:src="@{app/lib/angular/angular.js}"></script>
<script th:src="@{app/lib/angular/angular-route.js}"></script>
<script th:src="@{app/lib/bootstrap-ui.js}"></script>
<script th:src="@{app/lib/accordion.js}"></script>
<script th:src="@{app/lib/ng-grid-2.0.8.debug.js}"></script>
<script th:src="@{app/lib/dynamic-forms.js}"></script>
<script th:src="@{app/lib/ng-infinite-scroll.js}"></script>
<script th:src="@{app/lib/ng-quick-date.js}"></script>
<script th:src="@{app/lib/d3.min.js}"></script>
<script th:src="@{app/lib/nv.d3.min.js}"></script>
<script th:src="@{app/lib/angular-nvd3.min.js}"></script>
<script th:src="@{app/lib/ng-tags-input.min.js}"></script>

<!-- application -->
<script th:src="@{app/js/app.js}"></script>
<script th:src="@{app/js/services/customerServices.js}"></script>
<script th:src="@{app/js/services/ajaxService.js}"></script>
<script th:src="@{app/js/services/chartService.js}"></script>
<script th:src="@{app/js/controllers/applicationController.js}"></script>
<script th:src="@{app/js/controllers/customerControllers.js}"></script>
<script th:src="@{app/js/controllers/contactControllers.js}"></script>
<script th:src="@{app/js/controllers/opportunityControllers.js}"></script>
<script th:src="@{app/js/controllers/chartsController.js}"></script>
<script th:src="@{app/js/filters/customerFilters.js}"></script>
<script th:src="@{app/js/directives/directives.js}"></script>

<!-- form builder/admin -->
<script th:src="@{app/js/controllers/formController.js}"></script>
<script th:src="@{app/js/services/formService.js}"></script>
<script th:src="@{app/js/controllers/salesPersonController.js}"></script>
<script th:src="@{app/js/controllers/stateController.js}"></script>
<script th:src="@{app/js/controllers/probabilityController.js}"></script>
<script th:src="@{app/js/controllers/statusController.js}"></script>
</body>
</html>