<!-- our page-specific header. this contains our filter button and our breadcrumb. -->
<div class="dm-app-header">
	<div class="container">
		<div class="row nav-row">
			<div class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-sm-12 control-label" for="filter">
						<h3 class="panel-title hidden-xs pull-left">									
							<ol class="breadcrumb pull-left">			
								<li>Administration</li>
								<li class="active">Dynamic Forms</li>
							</ol>
						</h3>	
					</label>
					
				</div>
			</div>
		</div>
	</div>	
</div><!-- #dm-app-header -->

<br/>

<div class="container dynamicFormDetails view">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="box-title">Edit your dynamic form</h3>
			<br />
			<div class="row col-sm-8">
				<p>Select field type you want to add to the form below and click on 'Add Field' button. Don't forget to set field properties. After you finish creating the form, you can preview the form by clicking Preview Form button.</p>
			</div>
			<br />
			<div ng-hide="previewMode">
				<div class="row">
					<div class="col-xs-7 pull-left">
					<select class="form-control pull-right" ng-model="addField.new" ng-options="type.name as type.value for type in addField.types"></select>
					</div>
					<div class="col-xs-5 pull-right">
						<button type="submit" class="btn btn-skinny btn-mini pull-left" ng-click="addNewField()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Field</button>
					</div>
				</div>			

			<br />

			<p ng-show="form.form_fields.length == 0">No fields added yet.</p>
			
			
<div ng-controller="AccordionCtrl">
	<div ng-repeat="field in form.form_fields">
	  <accordion>
    	<accordion-group class="accordion-group-parent">
			<accordion-heading is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
				{{field.field_title}}
				<div id="panel-top" class="panel-buttons pull-right">      
					<a ng-click="deleteField(field.field_id)" class="heading-icon trash pull-right" title="click to delete" >
						<span class="glyphicon glyphicon-trash"></span>
					</a>
					<a ng-if='$index>0' class="pull-right" ng-click="moveFieldUp($index, field)">
						<span class="glyphicon glyphicon-arrow-up"></span>
						
					</a>					
					<a ng-if='$index+1 < form.form_fields.length ' class="pull-right" ng-click="moveFieldDown($index, field)">
						<span class="glyphicon glyphicon-arrow-down"></span> 					
					</a>     
				</div>
			</accordion-heading>
			<div id="accordion-left" class="col-xs-12 col-sm-4 pull-left panel-well">	
					<div class="accordion-well">
						Field ID:&nbsp;&nbsp;<strong>{{field.field_id}}</strong>
						<br />
						Field Type:&nbsp;&nbsp;<strong>{{field.field_type}}</strong>
						<br />
						<br />
<div class="btn-group">
	<label class="btn btn-default" ng-model="radioModel" btn-radio="'Yes'">Required</label>
	<label class="btn btn-default" ng-model="radioModel" btn-radio="'No'">Not Required</label>	
</div>						
						
						<br />
						<button class="btn btn-mini btn-skinny pull-left" type="button" ng-click="previewModalOn()"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Preview Changes</button>
						<button class="btn btn-mini btn-skinny pull-left" type="button" ng-click="reset()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Reset</button>				
			
						<div class="clearfix"></div><!-- clearing out the height of the box so we're not chopped off -->
					</div>
				</div> 
				<div id="accordion-body" class="col-xs-12 col-sm-8 pull-right">
					<div class="col-xs-12 accordion-spacer"></div>
					<div ng-class="row">
						<div class="col-xs-3 form-group">
							<label for="fieldTitle">Field Title:</label>
						</div>	
						<div class="col-xs-9 form-group">
							<input type="text" name="fieldTitle" class="form-control" ng-model="field.field_title" value="{{field.field_title}}" />
						</div>
					</div>
					<div ng-class="row">						
						<div class="col-xs-3 form-group">
							<label for="default">Default Value:</label>
						</div>
						<div class="col-xs-9 form-group">
							<input type="text" class="form-control" name="default" ng-model="field.field_value" value="{{field.field_value}}" />
						</div>
					</div>
					<div ng-class="row">							
						<div class="col-xs-3 form-group">
							<label for="placeholdervalue">Placeholder:</label>
						</div>
						<div class="col-xs-9 form-group">
							<input type="text" class="form-control" ng-model="field.field_placeholder" value="{{field.field_placeholder}}" />
						</div>
					</div>
					<div class="col-xs-12 accordion-spacer"></div>
					<div ng-class="row">							
						<div class="col-xs-3 form-group">
							<label for="options">Options:</label>
						</div>
						<button class="btn btn-mini btn-skinny panel-button" type="button" ng-click="addOption(field)"><span class="glyphicon glyphicon-plus"></span> Add Option</button>

						<div class="col-xs-9 form-group" ng-show="showAddOptions(field)">
							<div ng-repeat="option in field.field_options">
								<div class="row">
									<div class="col-xs-9">
										<input type="text" class="form-control options" ng-model="option.option_title" value="{{option.option_title}}" />
									</div>
							
									<div class="col-xs-3">
										<a class="btn-mini right" type="button" ng-click="deleteOption(field, option)"><span class="glyphicon glyphicon-trash"></span></a>
										<span class="label label-inverse">Value: {{ option.option_value }}</span>
									</div>
									
								</div>
							</div>
						<br />
						</div>
				</div>
					<div class="col-xs-12 accordion-spacer"></div>
					<button class="btn btn-default btn-skinny pull-right" type="button" ng-click="submit()"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Submit your changes
					</button>							
				</div>		
		</accordion-group>
		<div class="clearfix"></div>
  </accordion>
	</div>
</div>
		
<div class="panel-body">			
</div>

<div class="form-fields-preview" ng-show="previewMode">
	<form-directive form="previewForm" formData="previewData"></form-directive>
		<p class="text-center">
		<button class="btn btn-primary btn-large right" type="button" ng-click="previewOff()"><span class="glyphicon glyphicon-arrow-left"></span> Back to Create Mode
		</button>
		</p>
</div>