<!-- our page-specific header. this contains our filter button and our breadcrumb. -->
<div class="dm-app-header">
	<div class="container">
		<div class="row nav-row">
			<div class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-sm-2 control-label" for="filter">
						<h3 class="panel-title hidden-xs pull-left">									
							<ol class="breadcrumb pull-left">			
								<li class="active">Opportunities</li>
							</ol>
						</h3>	
					</label>
					<div class="col-sm-10">						
						<button type="button" class="btn btn-default pull-right" data-ng-click="navigateToOpportunity('/opportunitiesedit')"><span class="glyphicon glyphicon-plus"></span> Add Opportunity</button>				
						<input id="filter" type="text" data-ng-model="searchText" class="form-control novalidate dm-head-7 pull-right" placeholder="Filter Opportunities"></input>				
					</div>
				</div>
			</div>
		</div>
	</div>	
</div><!-- #dm-app-header -->

<div class="container opportunity view">
	<br />
	<h1 class="page-title"> 
		All Opportunities
	</h1>
	<br />
	<div class="panel panel-default">
		<div id="opportunity-panel" class="panel-body">
			<div class="row">
				
				<table id="opportunity-table" class="table table-striped" infinite-scroll='opportunityPages.nextPage()' infinite-scroll-disabled='opportunityPages.busy' infinite-scroll-distance='0'>
					<thead>
						<td>
						Description
                            <button class="pull-right btn btn-xs" ng-click="orderByField='discussion'; reverseSort = !reverseSort">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
						</td>
						<td>
						Company
                            <button class="pull-right btn btn-xs" ng-click="orderByField='companyName'; reverseSort = !reverseSort">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
						</td>
						<td>
						Potential Revenue
                            <button class="pull-right btn btn-xs" ng-click="orderByField='potentialRevenue'; reverseSort = !reverseSort">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
						</td>
						<td>
						Deal Date
                            <button class="pull-right btn btn-xs" ng-click="orderByField='opportunityDate'; reverseSort = !reverseSort">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
						</td>
						<td>
						Probability
                            <button class="pull-right btn btn-xs" ng-click="orderByField='probabilityPercentage'; reverseSort = !reverseSort">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
						</td>
						<td>
						Status
                            <button class="pull-right btn btn-xs" ng-click="orderByField='statusDescription'; reverseSort = !reverseSort">
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
						</td>
						<td>

						</td>
		
					</thead>
					<tr data-ng-repeat="opportunity in opportunityPages.items |orderBy:orderByField:reverseSort track by $index">
						<td>
							<a data-ng-click="navigateToOpportunity('/opportunitiesedit',opportunity )" title="click to edit" class="ellipsis btn-link">{{opportunity.discussion}}</a>
						</td>
						<td>
							<a data-ng-click="navigate('/contactcards',opportunity )" title="click to edit" class="ellipsis  btn-link">{{opportunity.companyName}}</a>
						</td>
						<td>
							{{opportunity.potentialRevenue | currency}}
						</td>
						<td>
							{{opportunity.opportunityDate | date}}
						</td>
						<td class="col-xs-2">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{opportunity.probabilityId + '0'}}%;">
									{{opportunity.probabilityPercentage + '%'}}
								</div>
							</div>
						</div>
						<td class="col-xs-1">
							{{opportunity.statusDescription}}
						</td>
						<td>
							<a data-ng-click="navigate('/contactcards',opportunity)" class="badge">{{opportunity.contactsCount}}&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span></a>
							<a data-ng-click="navigate('/opportunitydetails',opportunity)" class="badge">{{opportunity.opportunitiesCount}}&nbsp;&nbsp;<span class="glyphicon glyphicon-folder-open"</span></a>
							<a data-ng-click="deleteOpportunity($index, opportunity)" class="pull-right"><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
				</table>
</div>
</div>
</div>