<div class="customerOpportunityActionGrid">
	<div class="col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">
		   <h3 class="panel-title pull-left toolbar-padding">Action Plan</h3>				
		   <button class="btn btn-default pull-right" data-ng-click="onDblClickRow()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Action Item</button>
		</div>
		<div class="panel-body">
        	<div class="gridStyle" ng-grid="myOpportunityDetails"></div>
                </div>
            </div>
        </div>
    </div>
</div>
