<div class="customerOpportunityActionGrid">
	<div class="panel panel-default">
		<div class="panel-heading">
			   <h3 class="panel-title">Action Plan
			   <button class="btn btn-default pull-right" data-ng-click="onDblClickRow()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Action Item
			   </button>
			   </h3>
		</div>
		<div class="panel-body">
        	<div class="gridStyle" ng-grid="myOpportunityDetails"></div>
                </div>
            </div>
        </div>
    </div>
</div>
