<!-- our page-specific header. this contains our filter button and our breadcrumb. -->
<div class="dm-app-header">
	<div class="container">
		<div class="row nav-row">
			<div class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-sm-12 control-label" for="filter">
						<h3 class="panel-title hidden-xs pull-left">									
							<ol class="breadcrumb pull-left">			
								<li>Customers</li>
								<li class="active">Company Details</li>
							</ol>
						</h3>	
                        <span class="dm-head-14pct pull-right">
                            <back-Button back="Back"></back-Button>
                        </span>
					</label>
				</div>
			</div>
		</div>
	</div>	
</div><!-- #dm-app-header -->

<div class="container">
<br />
		
	<div id="company-address" class="col-xs-12 col-sm-8">
		<h3 class="panel-title">
            <a data-ng-click="navigate('/customeredit',customer )" title="click to edit" class="heading-icon "><span class="glyphicon glyphicon-pencil"></span></a>
            {{customer.companyName}}
        </h3>
		<br />
		<address>
		{{customer.addressLine1}}<br>
		{{customer.addressLine2}}<br>
		{{customer.city}}, {{customer.state}}&nbsp;&nbsp;{{customer.zip}}<br>
		</address>
		<br />
	</div>
	<div id="company-right" class="col-xs-12 col-sm-4">
		<a data-ng-click="navigate('/contactcards',customer)">
		<div class="contacts-circle">
			<div class="circle-inner">
				<span class="number-text">{{customer.contactsCount}}</span>
				<br /> 
				Contacts
			</div>
		</a>
		</div>
		<a data-ng-click="navigate('/opportunitydetails',customer)">		
		<div class="contacts-circle">
			<div class="circle-inner">
				<span class="number-text">{{customer.opportunitiesCount}}</span>
				<br />
				Opportunities			
			</div>
		</div>
		</a>
	</div>
</div>	

<hr />

<div  id="white-section" class="container">
	<div class="col-xs-12">
		<div class="infocard pull-left">
			<span class="glyphicon glyphicon-globe"></span></abbr>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{customer.webPage | webHrefFilter}}" target="_blank">{{customer.webPage}}</a>
		</div>
		<div class="infocard pull-left">
			<span class="glyphicon glyphicon-envelope"></span></abbr>&nbsp;&nbsp;&nbsp;<a href="mailto:{{customer.email}}">{{customer.email}}</a>
		</div>	
		<div class="infocard pull-left">		
			<span class="glyphicon glyphicon-earphone"></span></abbr>&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:{{customer.phone}}">{{customer.phone}}</a>
		</div>
	</div>
</div>

<hr />

<div  id="white-section" class="container">
	<div class="col-xs-12 contactcardspanel">
		<br />
		<div class="dm-head-7">
			<h3 class="panel-title">Company Opportunities</h3>
		</div>
		<div class="dm-head-3 pull-right">
			<button type="button" class="btn btn-default pull-right" data-ng-click="onDblClickRow()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Opportunity</button>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<div class="customerDetails">
		<div class="gridStyle" ng-grid="myOpportunities"></div>
	</div>
</div>
<br />