<div class="customerOpportunityActionGrid">
	<div class="col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">
		   <h3 class="panel-title">Action Plan</h3>
		</div>
		<div class="panel-body">
		<button class="btn btn-default btn-skinny" data-ng-click="onDblClickRow()">Add Action Item</button>
                            </ul>
                                <span class="navbar-form pull-right">
                                    <span class="navbarText">Filter:</span>&nbsp;&nbsp;<input type="text"
                                                                                              data-ng-model="filterOptions.filterText"
                                                                                              class="novalidate"/>
                                </span>
                        </div>
                    </div>
                    <div class="gridStyle" ng-grid="myOpportunityDetails"></div>
                </div>
            </div>
        </div>
    </div>
</div>
