<div class="charts view">
    <header>
        <h3>Opportunity Status</h3>
    </header>
    <div>
        <br/>

        <div class="row">
            <div class="span2">
                <label>Select From Date</label>
                <quick-datepicker icon-class='icon-calendar' label-format='EEEE, MMMM d, yyyy'
                                  ng-model='selectedDate' placeholder='Pick a Date'
                                  disable-timepicker='true'></quick-datepicker>
            </div>


            <nvd3 class="span10" options='options' data='data'></nvd3>
        </div>

    </div>


</div>