<div class="charts modal-header">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="companySelect modal-body">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium ornare nisl in consequat.
    Sed ultrices sagittis libero, vel laoreet velit rhoncus in. Aliquam aliquet tincidunt sapien,
    id dignissim urna tempus at. Praesent venenatis enim nec purus dignissim, tristique feugiat mauris laoreet.
    Vivamus non consequat tellus. Curabitur lobortis vulputate eros ut bibendum. Vestibulum blandit suscipit lorem,
    quis hendrerit lacus molestie et. Donec sed turpis quam. Sed vel malesuada est. Morbi egestas tempus arcu ut
    feugiat.

    Mauris dignissim neque ac magna mattis, vita


</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button type="submit" class="btn btn-primary"
            data-ng-click="modalOptions.ok();">
        {{modalOptions.actionButtonText}}
    </button>
</div>