<div class="charts modal-header">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="companySelect modal-body">


    <form name="filterSelectForm" ng-submit="submitForm()" novalidate>


        <div class="form-group" ng-controller='ChartsController'>
            <label>Name</label>
            <tags-input ng-model="modalOptions.record" add-from-autocomplete-only="true">
                <auto-complete source="getList($query)"></auto-complete>
            </tags-input>
        </div>


    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button type="submit" class="btn btn-primary" ng-disabled="filterSelectForm.$invalid"
            data-ng-click="modalOptions.ok();">
        {{modalOptions.actionButtonText}}
    </button>
</div>